@import 'tailwindcss';

@theme {
  --color-primary: #ed3028;
  --color-secondary: #5c8199;
  --color-tertiary: #14253f;
  --color-dark: #0c3270;
  --color-light: #ffffff;
  --color-darker: #0c1626;
  --color-success: #65e681;
  --color-error: #ed3028;
}

body {
  background: var(--color-darker) url('/sportz-bg-darker.png') center center
    no-repeat;
  background-attachment: fixed;
  background-size: 1000px;
  background-position: center bottom;
  color: var(--color-light);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  min-height: 100dvh;

  @media (min-width: 1000px) {
    background-size: contain;
  }
}

.wrapper {
  min-height: 100dvh;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

header {
  padding-block: 1rem;
  border-bottom: 1px solid var(--color-light);
}

table {
  th,
  td {
    padding-bottom: 1rem;
    &:not(:last-child) {
      padding-right: 1.5rem;
    }
  }

  th {
    text-align: left;
  }
}

label,
button {
  &:not(:disabled) {
    cursor: pointer;
  }
}

.text-input {
  border: 1px solid var(--color-light);
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.form-label {
  @apply flex flex-col gap-2;
}

.check {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-primary);
}

.link {
  text-decoration: underline;
}

.main-border {
  @apply border-1 rounded-lg;
}

.modal-static {
  @apply p-10 bg-darker/60 flex flex-col gap-6 flex-1  mx-auto;
}

.modal-small {
  @apply w-full max-w-[400px];
}

.modal-overflow {
  @apply w-max min-w-[600px];
}

input[type='checkbox'] {
  accent-color: var(--color-primary);
}

.button {
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  white-space: nowrap;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-light);
  }

  &.secondary {
    border: 1px solid var(--color-light);
    color: var(--color-light);
  }

  &.simple {
    text-decoration: underline;
    color: var(--color-primary);
    padding: 0;
  }
}

.the-form {
  #message {
    &:empty {
      display: none;
    }
  }
}

.games-list {
  .the-table {
  }
}

.game-single {
  .the-table {
    tr.inputs {
      input[type='text'],
      input[type='number'] {
        width: 7rem;
      }
    }
  }

  table {
    th,
    td {
      white-space: nowrap;
    }

    tr.text {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}

/* Charts */

.chart-container {
  animation: fadeIn 0.2s ease-in-out;
}

.chart-bg {
  background: hsl(from var(--color-tertiary) h s calc(l - 10));
  padding: 2rem;
  border-radius: 0.5rem;
}

.outer-scroll::-webkit-scrollbar {
  display: none;
}

/* Keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
